<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details page</title>
</head>
<body>
        ListView Examples
        <a href="{% url 'viewall' %}"><h1>View All Employees</h1></a>
        <a href="{% url 'viewsalid' %}"><h1>View All Employees Salary and IDNO</h1></a>
        <a href="{% url 'viewnames' %}"><h1>View All Employees Names Only</h1></a>
        <hr>
        <hr>
        DetailView Example
        <a href="{% url 'allids' %}"><h1>View All Employee IDNO's</h1></a>

</body>
</html>
